@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
:root {
  --bg-white: #FFFFFF;
  --bg-grey: #FBFBFB;
  --bg-black: #252525;
  --text-black: #1B1C1D;
  --text-white: #FFFFFF;
  --text-grey: #C1C1C1;
  --text-menu: #BFA569;
  --font-fam1: 'erode', serif;
  --font-fam2 :  'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
  background: var(--bg-white);
  color: var(--text-black);
  margin: auto 0;
}

.phone {
  display: none;
}

.menu-btn {
  display: none;
}

.wrapper {
  display: none;
}

#active {
  display: none;
}

/* NAVBAR */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav{
  width: 100%;
  height: 160px; 
  margin: 0 auto;
  justify-content: center;
  position: relative;
  font-family:var(--font-fam1);
  text-decoration: none;
  z-index: ;
  text-transform: uppercase;
  background: ;
}

.checkBtn{
  display: none;
}

.nav .logo{
  margin-top: ;
  height: 90px;
  width: auto;
  position: absolute;
  opacity: 0.9;
}

.nav .logo:hover{
  
}

.nav ol{
  list-style: none;
}

.nav ol a{
  text-decoration: none;
  margin-top: 11em;
  padding: 0 1.7em;
  font-size: 20px;
  color: var(--text-black);
  font-weight: 400;
  position: relative;
  z-index: 2;
}

.main__section {
  height: 80vh;
  width: 100%;  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-white);

}

.main__section_content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.main__section_content img {
  margin-bottom: 60px;
  width: auto;
  height: 480px;
  filter: drop-shadow(10px 10px 14px #909090);
  z-index: 2;
}

.creamy__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #CFB997 100%);
  filter: blur(123px);
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 1;
  top: 20%;
  right: 25%;
}


.main__section_content a {
  text-decoration: none;
  background: transparent;
  color: var(--text-black);
  text-transform: uppercase;
  font-family: var(--font-fam1);
  text-transform: ;
  font-weight: 400;
  font-size: 20px;
  padding: 12px 8px;
  border-bottom: 1px solid  #A1A1A1;
}

.our__story {
  height: 70vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  position: relative;
  background: var(--bg-white);
  z-index: ;
}

.our__story_caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.our__story_caption h6 {
  font-family: var(--font-fam2);
  font-size: 13px;
  font-weight: 300;
  color: var(--text-grey);
}

.our__story_caption h2 {
  font-family: var(--font-fam1);
  font-size: 42px;
  font-weight: 400;
  color: var(--text-black);
  margin: 20px 0 40px 0;
}

.our__story_caption p {
  text-align: center;
  font-family: var(--font-fam2);
  font-size: 14px;
  font-weight: 300  ;
  color: var(--text-black);
  padding: 0 33% 30px 33%;
  line-height: 1.7;
}

#ring-1 {
  position: absolute;
  height: 480px;
  width: auto;
  left: 10%;
  bottom: 0;
  filter: drop-shadow(10px 10px 14px #909090);
  opacity: ;
}

#ring-2 {
  position: absolute;
  height: 400px;
  width: auto;
  right: 10%;
  top: 0;
  filter: drop-shadow(10px 10px 14px #909090);
  opacity: ;
}

.our__story_caption a {
  text-decoration: none;
  background: transparent;
  color: var(--text-grey);
  font-family: var(--font-fam2);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  padding: 12px 8px;
  border-bottom: 1px solid var(--text-grey);
  letter-spacing: 1px;
  margin-top: 10px;
}

hr {
  border-top: 1px solid #F9F9F9;
  position: relative;
  width: 60%;
  z-index: ;
}

.myFooter {
  margin: 0;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  background: var(--bg-white);
  z-index: ;
}

.myFooter img {
  height: 60px;
  width: auto;
  opacity: 0.9;
}

.myFooter a {
  text-decoration: none;
  font-family: var(--font-fam1);
  font-size: 15px;
  color: var(--text-black);
  font-weight: 400;
  text-transform: uppercase;
}


/*CONTACT PAGE*/
.contact-us {
  position: relative;
  height: 100vh;
}

#necklace {
  position: absolute;
  width: auto;
  height: 680px;
  left: 19%;
  top: 20%;
  opacity: 0.2;
  z-index: ;
}

.contact-caption {
  position: relative;
  height: 20%;
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-caption h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-family: var(--font-fam1);
  font-weight: 400;
  padding: 0 0 40px 0;
}

.contact-caption p {
  font-size: 14px;
  text-align: center;
  font-family: var(--font-fam2);
  font-weight: 300;
  padding: 0;
}

.contact-container {
  width: 100%;
  height: 75% ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: ;
}

.contact-item-1 {
  height:100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.contact-item-1-sub {
  height:auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0 60px 0;
}

.contact-item-1-sub h2 {
  font-size: 32px;
  font-family: var(--font-fam1);
  font-weight: 400;
  padding: 0 0 40px 0;
}

.contact-item-1-sub h6 {
  font-size: 14px;
  font-family: var(--font-fam2);
  font-weight: 300;
  padding:0 0 6px 0;
  line-height: 1.2;
  text-transform: uppercase;
}


.contact-item-1 p {
  font-size: 14px;
  font-family: var(--font-fam2);
  font-weight: 300;
  padding:0;
  line-height: 1.2;
  color: #828282;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact-item-2 {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 0;
}

.contact-item-2 h2 {
  font-size: 18px;
  font-family: var(--font-fam1);
  font-weight: 400;
  padding:0;
  margin: 50px 0 20px 0;
  line-height: 1.2;
  color: var(--text-black);
  letter-spacing: 1px;
}

.success_message {
  margin-top: 10px;
  width: auto;
  height: auto;
  background: ;
}

.success_message h6 {
  font-size: 18px;
  font-family: var(--font-fam1);
  font-weight: 400;
  padding:0;
  margin: 0;
  line-height: 1.2;
  color: var(--text-black);
}

.form-container {
  margin: 0;
  background: var(--bg-white);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  border: 1px solid var(--text-grey);
  align-items: center;
  padding: 52px 24px;
  z-index: ;
}

.contact-item-2 p {
  text-transform: uppercase;
  font-size: 18px;
  font-family: var(--font-fam1);
  font-weight: 500;
  padding:0;
  margin: 0 0 20px 0;
  line-height: 1.2;
  color: var(--bg-black);
  letter-spacing: 1px;
}

.contact-item-2 input {
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 13px;
  font-weight: 300;
  outline: none !important;
  border-color: transparent;
  border-bottom: 1px solid var(--text-grey);
  background-color: transparent;
  width: 400px;
  padding-bottom: 10px;
  font-family: var(--font-fam2);
}

input::placeholder {
  color: var(--text-grey);
  font-weight: 300;
  font-family: var(--font-fam2);
}

.contact-item-2 textarea {
  text-transform: uppercase;
  font-size: 13px;
  outline: none !important;
  border-color: transparent;
  border-bottom: 1px solid var(--text-grey);
  padding: 0;
  background-color: transparent;
  width: 400px;
  font-weight: 300;
  font-family: var(--font-fam2);
  resize: none;
}

textarea::placeholder {
  color: var(--text-grey);
  font-weight: 300;
  font-family: var(--font-fam2);
}


.form-submit {
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid var(--text-grey);
  padding: 8px 24px;
  width: 100%;
  margin-top: 40px;
  color: var(--text-black);
  background: transparent;
  font-weight: 400;
  font-family: var(--font-fam2);
}

.form-submit:hover {
  cursor: pointer;
  background-color: var(--bg-black);
  color: var(--text-white);
  transition: all 0.4s ease-in-out;
}

.error {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error h1 {
  text-transform: uppercase;
  font-size: 38px;
  font-family: var(--font-fam1);
  font-weight: 400;
  margin: 0 0 40px 0;
  color: var(--text-black);
}

.error p {
  font-size: 16px;
  font-family: var(--font-fam2);
  font-weight: 300;
  color: var(--text-black);
}

.error a {
  text-decoration: none;
  color: var(--text-grey);
}

.error a:hover {
  cursor: pointer;
  color: darkblue;
  transition: all 0.4s ease-in-out;
}

/* REVEAL ANIMATION STARTS */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: transform 2s,opacity 2s;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
/* REVEAL ANIMATION ENDS */

/*Phone styling */
@media only screen and (max-width: 768px) {

/*Menu*/
.wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ECE8DD;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}


#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border:none;
  background: var(--bg-white);
  color: var(--text-black);
  font-size: 12px;
  cursor: pointer;
  font-family: var(--font-fam2);
  font-size: 32px;
  font-weight: 400;
}

#active:checked ~ .menu-btn {
  background: #ECE8DD;
  color: var(--text-black);
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

#active {
  display: none;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  padding: 0;
}

.wrapper ul li {
  padding: 0;
  margin: 30px 0;
}

.wrapper ul li a {
  position: relative;
  color: var(--text-black);
  text-decoration: none;
  font-size: 28px;
  font-family: var(--font-fam1);
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.wrapper a:hover, li:hover {
  color: var(--text-balck);
  cursor: pointer;
}

.menu-footer {
  position: absolute;
  bottom: 15%;
  height: 70px;
  width: 100%;
  display: flex;  
  justify-content:  center;
  align-items: center;
  background: #;
}

.menu-footer_item {
  margin: 20px;
}

.menu-footer_item a {
  font-size: 16px;
  letter-spacing: ;
  font-family: var(--font-fam1);
  font-weight: 400;
  text-decoration: none;
  color: var(--text-black);
  display: inline-block; 
}

.menu-footer_item img {
  height: 20px;
  width: 20px;
  margin: 5px 0 0 0;
}

.menu-footer_item a:hover {
  cursor: pointer;
  text-decoration: line-through;
  transition: all 0.4s ease-in-out;
  color: var(--text-white);
}


  .phone {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-align: center;
    margin: 0;
    font-family: var(--font-fam1);
    background-color: white;
    overflow-y: hidden;
  }

  .phone h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .phone p {
    font-size: 14px;
    font-weight: 300;
    font-family: var(--font-fam2);
    max-width: 90%;
  }

  .phone img {
    height: 140px;
    width: auto;
  }

.nav {
  height: 100px;
}

.nav .logo{
  height: 90px;
  z-index: 3;
}

.nav ol a{
 display: none;
}

.main__section {
  height: 80vh;
}

.main__section_content {
  height: 100%;
  justify-content: center;
  gap: ;
} 

.main__section_content img {
  height: 400px;
  z-index: 1;
}

.creamy__gradient {
  display: ;
  filter: blur(70px);
  width: 60%;
  height: 60%;
  top: 5%;
  right: 15%;
}

.main__section_content a {
  font-size: 18px;
}

.our__story {
  height: 80vh;
  display: ;
}

.our__story_caption {
  justify-content: flex-start;
}

.our__story_caption h6 {
  margin-top: 70px;
}

.our__story_caption h2 {
  font-size: 32px;
  font-weight: ;
}

.our__story_caption p {
  font-size: 13px;
  padding: 0 6% 20px 6%;
}

#ring-1 {
  height: 380px;
  bottom: -40px;
}

hr {
  width: 80%;
}

.myFooter {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.myFooter img {
  display: none;
}

.myFooter a {
  text-decoration: none;
  font-family: var(--font-fam1);
  font-size: 13px;
  color: var(--text-black);
  font-weight: 400;
  text-transform: uppercase;
}


/*CONTACT PAGE*/
.contact-us {
  height: auto;
  padding: 0 0 12px 0;
  background: var(--text-white);
  z-index: 1;
}

.contact-caption {
 display: none;
}

.contact-container {
  width: 100%;
  height: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-item-1 {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-item-1-sub {
  height:auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 40px 0;
}

.contact-item-1-sub h2 {
  font-size: 28px;
}

.contact-item-1-sub h6 {
  font-size: 13px;
}


.contact-item-1 p {
  font-size: 13px;
}

#map {
  margin-left: 9%;
}

.contact-item-2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-item-2 h2 {
  font-size: 16px;
}

.success_message h6 {
  font-size: 16px;
}

.form-container {
  width: 90%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.contact-item-2 input {
  font-size: 13px;
  width: 95%;

}

.contact-item-2 textarea {
  font-size: 13px;
  width: 95%;
}

.form-submit {
  font-size: 13px;
  width: 95%;
}

.error {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: var(--font-fam1);
  font-weight: 400;
  margin: 0 0 30px 0;
  color: var(--text-black);
}

.error p {
  font-size: 13px;
  text-align: center;
  padding: 0 4%;
  line-height: 1.5;
  font-family: var(--font-fam2);
  font-weight: 300;
  color: var(--text-black);
}

.error a {
  text-decoration: none;
  color: var(--text-grey);
}

.error a:hover {
  cursor: pointer;
  color: darkblue;
  transition: all 0.4s ease-in-out;
}

}
