@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --bg-white: #FFFFFF;
  --bg-grey: #FBFBFB;
  --bg-black: #252525;
  --text-black: #1B1C1D;
  --text-white: #FFFFFF;
  --text-grey: #C1C1C1;
  --text-menu: #BFA569;
  --font-fam1: 'erode', serif;
  --font-fam2 :  'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
  background: var(--bg-white);
  color: var(--text-black);
  margin: auto 0;
}

/*hidden in big-screen*/
.phone {
  display: none;
}

#logo-text {
  display: none;
}

.menu-btn {
  display: none;
}

.wrapper {
  display: none;
}

#active {
  display: none;
}

/*reveal animation*/
.reveal {
  position: relative;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 2s,opacity 2s;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/*menu bar*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  height: auto;
}

.navbar-menu {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 14px 0;
  width: 100%;
  border-bottom: ;
}

.navbar-menu ul {
  margin: 0;
  list-style: none;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--text-black);
  font-size: 15px;
  font-family: var(--font-fam1);
  font-weight: 400;
  padding: 0 24px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}


/*logo bar*/
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav{
  width: 100%;
  height: auto; 
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  position: relative;
  font-family:var(--font-fam1);
  text-decoration: none;
  z-index: 999;
  text-transform: uppercase;
  border-top: 8px solid black;
} 

.checkBtn{
  display: none;
}

.nav .logo{
  height: 90px;
  width: auto;
  margin: 20px 225px 0 200px;
  filter: grayscale(100%) brightness(0.3);
}

.nav ol{
  list-style: none;
  width: 100%;
  border-bottom:;
  padding: 0 ;
}

.nav ol a{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  margin-top: 25px;
  padding: 0 2em;
  font-size: 16px;
  color: var(--text-black);
  font-weight: 500;
  position: relative;
  letter-spacing: 1px;
}

/*
ol li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background:;
  border: ;
  padding: 8px 0;
  border-radius: 4px;
  text-transform: none;
  position: relative;
}
*/
/* Home Page */
.main__section {
  height: 85vh;
  width: 100%;  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section_content {
  height: 95%;
  width: 90%;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./img/bg-1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
} 

.main__section_content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: var(--font-fam1);
  font-size: 100px;
  max-width: 100%;
  text-align: center;
  font-weight: 300;
  z-index: 14;
  color: var(--text-white);
}

.main__section_content img {
  width: auto;
  height: 650px;
  filter: drop-shadow(10px 10px 14px #909090);
  z-index: 2;
}

.main__section_content a {
  text-decoration: none;
  background: transparent;
  color: var(--text-black);
  text-transform: uppercase;
  font-family: var(--font-fam1);
  text-transform: ;
  font-weight: 500;
  font-size: 20px;
  padding: 12px 8px;
  border-bottom: 1px solid  #A1A1A1;
}

.our__story {
  height: 50vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  position: relative;
  background: var(--bg-white);
}

.our__story_caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our__story_caption h6 {
  display: none;
}

.our__story_caption h2 {
  font-family: var(--font-fam1);
  font-size: 42px;
  font-weight: 400;
  color: var(--text-black);
  margin: 0 0 40px 0;
}

.our__story_caption p {
  text-align: center;
  font-family: var(--font-fam2);
  font-size: 15.5px;
  font-weight: 300;
  color: var(--text-black);
  padding: 0 33% 30px 33%;
  line-height: 1.7;
}

#ring-1 {
  position: absolute;
  height: 480px;
  width: auto;
  left: 10%;
  bottom: -30px;

  opacity: ;
}

#ring-2 {
  position: absolute;
  height:480px;
  width: auto;
  right: 7%;
  bottom:-40px;
  filter: drop-shadow(10px 10px 14px #909090);
  opacity: ;
}

.our__story_caption a {
  text-decoration: none;
  background: transparent;
  color: var(--text-black);
  font-family: var(--font-fam2);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  padding: 10px 32px;
  border: 1px solid var(--text-black);
  border-radius: 24px ;
  letter-spacing: 1px;
  margin-top: 10px;
}
/* Home Page */

/*footer*/
hr {
  border-top: 1px solid #F9F9F9;
  position: relative;
  bottom: -12;
  width: 60%;
  z-index: ;
}

.myFooter {
  margin: 0;
  padding: 0;
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  background: var(--bg-white);
  z-index: ;
}

.myFooter img {
  height: 60px;
  width: auto;
  opacity: 0.9;
}

.myFooter a {
  text-decoration: none;
  font-family: var(--font-fam1);
  font-size: 14px;
  color: var(--text-black);
  font-weight: 400;
  letter-spacing: 1.2px;
}

.reserved {
  position: absolute;
  right: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.reserved p {
  font-family: var(--font-fam1);
  font-size: 14px;
  font-weight: 400;
}

.reserved a {
  text-transform: none;
}

/*404 page*/
.error {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error h1 {
  text-transform: uppercase;
  font-size: 38px;
  font-family: var(--font-fam1);
  font-weight: 400;
  margin: 0 0 40px 0;
  color: var(--text-black);
}

.error p {
  font-size: 16px;
  font-family: var(--font-fam2);
  font-weight: 300;
  color: var(--text-black);
}

.error a {
  text-decoration: none;
  color: var(--text-grey);
}

.error a:hover {
  cursor: pointer;
  color: darkblue;
  transition: all 0.4s ease-in-out;
}

/*Phone styling*/
@media only screen and (max-width: 768px) {

/*reveal animation*/
.reveal {
  transform: translateY(70px);
}

/*hidden on small-devices*/
.nav {
  height: 60px;
}

.nav .logo{ 
  display: none;
}

.nav ol a{
 display: none;
}

/*phone menu*/

#logo-text {
  display: block;
  color: var(--text-black);
  font-family: var(--font-fam1);
  font-weight: 500;
  font-size: 24px;
  z-index: -9999;
  padding-top: 4%;
}

.wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #DBE3E5;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border:none;
  background: var(--bg-white);
  color: var(--text-black);
  cursor: pointer;
  font-size: 24px;
}

#active:checked ~ .menu-btn {
  background: #DBE3E5;
  color: var(--text-black);
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

#active {
  display: none;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  padding: 0;
}

.wrapper ul li {
  padding: 0;
  margin: 30px 0;
}

.wrapper ul li a {
  position: relative;
  color: var(--text-black);
  text-decoration: none;
  font-size: 32px;
  font-family: var(--font-fam1);
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
}

.wrapper a:hover, li:hover {
  color: var(--text-balck);
  cursor: pointer;
}

.menu-footer {
  position: absolute;
  bottom: 10%;
  height: 70px;
  width: 100%;
  display: flex;  
  justify-content:  center;
  align-items: center;
  background: #;
}

.menu-footer_item {
  margin: 20px;
}

.menu-footer_item a {
  font-size: 16px;
  letter-spacing: ;
  font-family: var(--font-fam1);
  font-weight: 400;
  text-decoration: none;
  color: var(--text-black);
  display: inline-block; 
}

.menu-footer_item img {
  height: 20px;
  width: 20px;
  margin: 5px 0 0 0;
}

.menu-footer_item a:hover {
  cursor: pointer;
  text-decoration: line-through;
  transition: all 0.4s ease-in-out;
  color: var(--text-white);
}

/*home page*/
.main__section {
  height: 80vh;
}

.main__section_content {
  height: 95%;
  width: 100%;
  border-radius: 0;
  justify-content: center;  
} 

.main__section_content img {
  height: 400px;
  z-index: 1;
}

.main__section_content a {
  font-size: 18px;
}

.our__story {
  height: 60vh;
  display: ;
}

.our__story_caption {
  align-items: center;
  justify-content: flex-start;
}

.our__story_caption h6 {
  display: block;
  font-family: var(--font-fam2);
  font-size: 13px;
  font-weight: 300;
  color: var(--text-grey);
}

.our__story_caption h2 {
  font-size: 42px;
  margin: 48px 20% 35px 20%;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.our__story_caption p {
  font-size: 14px;
  padding: 0 4% 20px 4%;
}

#ring-1 {
  display: none;
}

.myFooter {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myFooter a {
  text-decoration: none;
  font-family: var(--font-fam1);
  font-size: 11px;
  color: var(--text-black);
  font-weight: 300;
}

.myFooter a:first-child {
  display: none;
}
}
